/* fonts */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
.nexon {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}
/* reset */
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /*제목 글 굵기 기본설정 해제*/
} 
em {
    font-style: normal;
}
/* common */
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}
.section {
    padding: 120px 0;
}
.section > h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.section > p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px;
    color: #666;
}
.section > span {
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 16px;
}

/* header */
.header__inner {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    /* background-color: #666; */
    /* border-bottom: 1px solid #ccc; */
}
.header__logo {
    width: 30%;
}
.header__logo > img {
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
}
.header__menu {
    width: 80%;
    text-align: right;
    margin-bottom: 10px;

}
.header__menu li {
    display: inline;

}
.header__menu li a{
    padding-left: 60px;
    transition: background-color 0.3s;
}
.header__menu li a:last-child {
    margin-right: 0px;
}
/* slider */
.slider__inner{
    display: flex;
    flex-wrap: wrap;
    width: 4800px;
    height: 450px;
    margin-bottom: 20px;
}
.slider > img {
    width: 1160px;
    height: 450px;
    overflow: hidden; 
}
.slider__img {
    overflow: hidden;
}
/* 롯데월드 소식 영역 */
#box {
    width: 1160px;
    display: flex;
    justify-content: space-between;
}
.notice {
    width: 560px;

}
.notice__all {
    border: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}
.notice__title > h2 {
    font-weight: 700;
    font-size: 18px; 
    margin-bottom: 20px;           
}
.notice__title > h2 > em {
    font-size: 16px;
    color: #999;
}
.notice__title > a {
    font-size: 16px;
    display: block;
    line-height: 1.8;
    font-weight: 300;
}
.notice__date {
    text-align: right;
}
.morearea {
    margin-bottom: 10px;
}
.morearea > a {
    font-size: 14px; 
    font-weight: 400;
    color: #999;
}
.morearea > a > img {
    width: 18x;
    height: 18px;
}
.notice__date p {
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: #999;
}
.advertise {
    
}
.advertise > img {
    width: 580px;
    height: 210px;
}
/* 프로그램들 */
#program > h3 {
    font-weight: 700;
    margin: 35px 0 20px 0;
    display: flex;
    
}
#program  {
}
.program__all {
    display: flex;
    justify-content: space-between;
}
.pbox {
}
.pbox img {
    width: 275px;
    padding-right: 20px;
    margin: 0 -10px 20px 5px;
}
.pbox p {
    font-size: 16px;
    font-weight: 400;
    color: #777;
    margin-bottom: 50px;
}
/* 라인 */
.line {
    width: 1160px;
    margin: 0 auto;
    border: 1px solid #eee;
}
/* 푸터 */
#footer .address {
    font-size: 14px;
    font-weight: 300;
    color: rgb(107, 107, 107);
    margin: 30px 0;
    line-height: 1.8;
}
#footer .copy {
    font-size: 12px;
    font-weight: 300;
    color: rgb(149, 147, 147);
}