.slider__inner {
    /* width: 100%; */
    margin-top: 40px;
    /* background-color: #ccc; */
}
.slider {position: relative;}
.slider__img {
    /* width: 100%; */
}
.slider__img .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
}
.slider__img .desc span {
    font-size: 16px;
    background-color: #fff;
    padding: 1px 14px 0 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 30px;
}
.slider__img .desc h3 {
    font-size: 110px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: -8px;
}
.slider__img .desc p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 1.35;
    margin-bottom: 130px;
}
.slider__img .desc .btn {}
.slider__img .desc .btn a{
    font-size: 16px;
    background-color: #fff;
    padding: 11px 50px;
    display: inline-block;
}

.slider__img .desc .btn a.black {
    background-color: #EA9B71;
    color: #fff;
}
.slider__arrow {}
.slider__arrow a {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 56px;
    background-image:url(../img/slider_icon.svg);
    transform: translateY(-50%);
}
.slider__arrow a.left {
    left: 20px;
}
.slider__arrow a.right {
    right: 20px;
    background-position: -50px 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
}
.slider__dot  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -20px -70px;
}
.slider__dot a.active {
    background-position: 0 -70px;
} 
.slider__dot a.play {
    background-position: -40px -70px;
}
.slider__dot a.stop {
    background-position: -60px -70px;
}
/* swiper */
.swiper-slide {
    background: url(../img/slider_bg01.jpg) no-repeat center / cover;
}
.swiper-slide:nth-child(2) {
    background: url(../img/slide_bg_02.jpg) no-repeat center / cover;
}
.swiper-slide:nth-child(3) {
    background: url(../img/slide_bg_03.jpg) no-repeat center / cover;
}
.swiper-slide .desc {
    width: 1160px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 100px 20px;
    box-sizing: border-box;
}
.swiper-slide .desc span {
    font-size: 16px;
    background-color: #fff;
    padding: 1px 14px 0 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 30px;
}
.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: 800;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: -8px;
}
.swiper-slide .desc p {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 1.35;
    margin-bottom: 10px;
}
.swiper-slide .desc .btn a{
    font-size: 16px;
    background-color: #4857EC;
    color: #fff;
    padding: 11px 50px;
    display: inline-block;
}
.swiper-slide .imgs {
    position: absolute;
    left: 50%;
    transform: translate(100px);
    top: 0;
    z-index: -1;
}
.swiper-slide .imgs .i1 {
    width: 600px;
    height: 600px;
    background-image: url(../img/slider02_bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide .imgs .i2 {
    width: 300px;
    position: absolute;
    left: 20px;
    bottom: 30px;  
}
.swiper-slide .imgs .i3 {
    width: 250px;
    position: absolute;
    bottom: 130px;
    right: 0;
}
.swiper-slide .imgs .i4 {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 100px;
}
.swiper-slide .dots span {
    border-radius: 50%;
    display: block;
    position: absolute;
}
.swiper-slide .dots .d1 {
    width: 23px;
    height: 23px;
    background-color: #4857ec;
    left: 5%;
    top: 50%;
}
.swiper-slide .dots .d2 {
    width: 46px;
    height: 46px;
    background-color: #2fefb1;
    left: 20%;
    top: 5%;
}
.swiper-slide .dots .d3{
    width: 49px;
    height: 49px;
    background-color: #4857ec;
    left: 50%;
    top: 70%;
}
.swiper-slide .dots .d4{
    width: 35px;
    height: 35px;
    background-color: #ff3344;
    left: 80%;
    top: 90%;
}
.swiper-slide .dots .d5{
    width: 32px;
    height: 32px;
    background-color: #2fefb1;
    left: 90%;
    top: 12%;
}
.swiper-button-prev {
    width: 20px !important;
    height: 40px !important;
    left: 20px !important;
    background: url(../img/arrow_Left.png) no-repeat;
    background-size: contain;
}
.swiper-button-next {
    width: 20px !important;
    height: 40px !important;
    right: 20px !important; 
    background: url(../img/arrow_Right.svg) no-repeat;
    background-size: contain;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
    background: #FF3344 !important;
    border: 2px solid transparent;
    margin: 0 7px !important;
}
.swiper-pagination-bullet-active {
    background: #ff334400 !important;
    box-shadow: 0 0 0 5px #ff3344 inset;
    border:2px solid #FF3344;
}
 /* swiper animation */
 .swiper-slide {
}
.swiper-slide .desc h3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s 0.6s cubic-bezier(0, 1.12, 1, 1);
}
.swiper-slide .desc p {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s 0.8s cubic-bezier(0, 1.12, 1, 1);
}
.swiper-slide .desc .btn {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s 1s cubic-bezier(0, 1.12, 1, 1);
}
.swiper-slide .imgs .i1 {
  opacity: 0;
  transition: all 0.7s 1s cubic-bezier(0, 1.12, 1, 1);
}
.swiper-slide .imgs .i2 {
  opacity: 0;
  transform: scale(2);
  transition: all 0.7s 1.3s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .imgs .i3 {
  opacity: 0;
  transform: scale(2);
  transition: all 0.7s 1.6s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .imgs .i4 {
  opacity: 0;
  transform: scale(2);
  transition: all 0.7s 1.9s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .dots .d1 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s 2s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .dots .d2 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s 2s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .dots .d3 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s 2s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .dots .d4 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s 2s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide .dots .d5 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s 2s cubic-bezier(0, 1.5, 0.62, 1.71);
}
.swiper-slide-active .desc h3 {
  opacity: 1;
  transform: translateY(0);
}
.swiper-slide-active .desc p {
  opacity: 1;
  transform: translateY(0);
}
.swiper-slide-active .desc .btn {
  opacity: 1;
  transform: translateY(0);
}
.swiper-slide-active .imgs .i1 {
  opacity: 1;
}
.swiper-slide-active .imgs .i2 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .imgs .i3 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .imgs .i4 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .dots .d1 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .dots .d2 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .dots .d3 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .dots .d4 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-active .dots .d5 {
  opacity: 1;
  transform: scale(1);
}
.swiper-slide-prev {
}
.swiper-slide-next {
}
/* 미디어쿼리 */
@media (max-width: 960px) {
    .swiper-slide .desc {
        width: 100%;
        text-align: center;
    }
    .swiper-slide .desc h3 {
        font-size: 70px;
    }
}

@media (max-width: 600px) {
    .swiper-slide .desc {
        padding: 80px 0;
    }
    .swiper-slide .desc h3 {
        font-size: 40px;
    }
    .swiper-slide .desc p {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .swiper-slide .desc .btn a {
        padding: 10px 25px;
    }
}